html,
body {
    height: 100%;
    background: #eee;
    font-family: "GHEAGrapalat";
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000002b;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2b5aa8;
}

a {
    color: #00173c;
}

a:hover {
    color: #333;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 10px 15px 20px;
}

.footer {
    background-color: #2d2d2d;
    padding-top: 20px;
    font-size: 13px;
    border-top: solid 50px #5f5f5f;
    color: #ababab;
}

.footer .container {
    padding-bottom: 50px;
    padding-top: 20px;
    border-bottom: solid 1px #555;

}

.footer h4 {
    margin-bottom: 30px;
}

.footer a {
    color: #828282
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #2b5aa8;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.nospaces {
    margin: 0 !important;
    padding: 0 !important;
}

#header_second {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    background: #cccccc;
    border-bottom:solid 1px #ddd;
}

#header_top {
    margin: 0;
    background: #2b5aa8;
}

#header_top .navbar-right {
    font-size: 12px;
}

#header_top .navbar-left a {
    color: #f8f8f8;
}

#header_top .navbar-right a {
    color: #cccccc;
}

#header_top .navbar-left {
    font-size: 18px;
}

#header_top a {
    color: #c8c8c8;
}

#header_top.navbar {
    min-height: 40px !important;
}

#header_top .navbar-nav > li a {
    padding: 10px;
}
.widget_title a{
    color:#c7a871;
}
.widget_title a:hover{
    color: #87704a;
}
.widget_title {
    background: #444444;
    color: #ffffff;
    border-bottom: solid 5px #000000;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}


#logo-container {
    padding: 0;
}

#logo {
    display: inline-block;
    padding: 15px 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #2b5aa8;
    border-color: #fff;
}

.pagination > li > a, .pagination > li > span {
    color: #444;
}

.home-videos-content > div:last-child a {
    color: #b0b0b0;
}

.navbar-default {
    border: none;
    border-radius: 0;
}